
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
source/*/obj
source/*/bin
*.pdb
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.datasource
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*.csproj-[1-9]*
*.csproj[1-9]*
*~
*.sql
*.swp
*.swo
/source/docs/Help/*.*
UpgradeLog.XML
_UpgradeReport_Files
git.yaml
Gemfile.lock
*mm_cache*
db_dev.rb
log4net.config.xml
empty.cs
startup_steps.txt
/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
bin
bin/
AutoTest.Net
*.user
obj
App_Data
sc_list.txt
*.nupkg
*.config
*.ps1
*.dll
*.lic
*.XML
*.xml
!/*.dll
